.navigation {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 17vh;
  padding: 5px 0;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);

  @media all and (max-width: 767px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
  }

  @media all and (max-width: 540px) {
    order: -1;
    margin-bottom: 30px;
    padding: 0 10px;
  }
}

.item {
  flex-shrink: 0;
  padding: 10px;
  font-weight: 900;
  transition: all 0.1s;

  &::before {
    font-weight: 400;
    content: '# ';
  }

  &:focus {
    transform: scale(1.1);

    &::before {
      transform: scale(0.2);
    }
  }
}

.item:not(:last-child) {
  margin-right: 20px;
}
